.hero-wrapper {
  width: 100%;
  height: 75vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7.5vh 0;
}

.hero-container h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 0;
}

.hero-container h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1rem;
  /* color: #438451; */
}

.hero-buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.hero-button-a,
.hero-button-b {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  width: 7.5rem;
  border: solid 1.5px #0c0c0c;
}

.hero-button-a {
  /* background: #bde3df; */
  background: none;
  color: #0c0c0c;
}

.hero-button-b {
  background: none;
}

.hero-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0;
  padding-left: 4rem;
  width: 10vw;
}

.hero-socials a {
  border: solid 1.5px #0c0c0c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
}

.hero-socials a:hover {
  background: #bde3df;
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.social-icon {
  scale: 1.5;
}
