.hero-wrapper {
  min-height: 80vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6vh 10vw 3vh 10vw;
  background-image: url(../../../assets/images/landingBG1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-container h1,
.hero-container h2,
.hero-container p {
  color: #0c0c0c;
}

.hero-container h1 {
  line-height: 5rem;
}

.hero-container h2 {
  line-height: 5rem;
  color: #264653;
}

.hero-container p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  padding: 2vh 6vw;
}

.hero-buttons-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 2.5vh;
}

.hero-button-a,
.hero-button-b {
  cursor: pointer;
  border-radius: 15px;
  padding: 1rem;
  width: 8rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.hero-button-a {
  background: #2a9d8f;
  color: #fcfcfc;
  border: solid 1.5px #2a9d8f;
}

.hero-button-b {
  background: #fcfcfc;
  color: #f4a261;
  border: solid 1.5px #f4a261;
}

.hero-button-a:hover {
  background: #264653;
  border: #264653 solid 1.5px;
  transition: all 0.3s ease-in-out;
}

.hero-button-b:hover {
  background: #f4a261;
  color: #fcfcfc;
  transition: all 0.3s ease-in-out;
}

.hero-lower-section-container {
  display: flex;
  justify-content: space-between;
  padding: 6vh 6vw;
  background-image: url(../../../assets/images/landingBG2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero-socials a {
  border: solid 1.5px #0c0c0c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c0c0c;
}

.hero-socials a:hover {
  border: #2a9d8f solid 1.5px;
  color: #2a9d8f;
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.social-icon {
  scale: 1.25;
}

.hero-scroll-down-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  padding: 0.25vh 0;
}

.scroll-down-icon {
  scale: 1.5;
}

.scroll-down-text {
  transform: rotate(270deg);
  font-size: 0.75rem;
  font-weight: 400;
}
