.hero-container {
  display: flex;
  flex-direction: column;
  padding: 6vh 8vw 3vh 8vw;
  min-height: 75vh;
}

.contact-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text-wrapper h1 {
  padding-bottom: 1.5rem;
  text-transform: capitalize;
}

.contact-text-wrapper h2 {
  font-size: 2.5rem;
  color: var(--clr-darkblue);
}

.lower-section-container {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  padding: 6vh 2vw;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

label {
  font-size: 1.5rem;
  font-weight: 1000;
}

input,
textarea,
select {
  border: solid var(--clr-black) 0.15rem;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  padding: 0.75rem;
}

input {
  height: 3.5rem;
  background: var(--clr-white);
}

select {
  height: 4rem;
  background: var(--clr-white);
  font-weight: 700;
  font-size: 1.25rem;
}

textarea {
  height: 20rem;
  resize: none;
  background: var(--clr-white);
}

input:focus,
textarea:focus,
select:focus {
  outline: solid var(--clr-green) 0.3rem;
  border: none;
}

.form-submit-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.form-submit-button {
  background: var(--clr-green);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  margin-top: 1vh;
  height: 4rem;
  width: 100%;
}

.form-submit-button:hover {
  background: var(--clr-darkblue);
  border: none;
}

.contact-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.contact-details-wrapper h3 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
}

.contact-details-wrapper p {
  padding-bottom: 1.5rem;
}

iframe {
  width: 100%;
  height: 100%;
  outline: solid var(--clr-darkblue) 0.15rem;
  border-radius: 5px;
  margin-bottom: 0.75rem;
}
