.projects-wrapper {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projects-header-container {
  padding: 4vh 6vw;
  margin-top: 10vh;
}

.projects-header-container h1 {
  text-align: center;
  padding: 0 25vw;
  font-size: 2rem;
}

.projects-header-container span {
  color: #0081a7;
}

.projects-polka-dots {
  background-image: radial-gradient(#0081a7 20%, #faf9f600 20%);
  background-position: 0 0;
  background-size: 15px 15px;
  height: 100px;
  width: 150px;
  position: absolute;
  right: 5vw;
  top: 15rem;
  z-index: 1;
}

.projects-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  padding: 4vh 6vw;
  z-index: 2;
  margin-bottom: 10vh;
}
