.projects-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0 6vw;
  box-sizing: content-box;
}

.projects-wrapper {
  box-sizing: border-box;
}

.projects-header-container {
  margin-bottom: 2rem;
  text-align: center;
}

.projects-header-container h2 {
  font-size: 3rem;
  font-weight: 1000;
}

.projects-header-container span {
  color: var(--clr-blue);
}

.projects-description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  padding: 4rem 0;
}

.projects-description-wrapper,
.projects-image-wrapper {
  width: calc((100% - 8rem) / 2);
}

.projects-description-wrapper h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
  color: var(--clr-brightorange);
}

.projects-description-wrapper p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
}
