.card-container {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-radius: 7.5px;
  background: var(--clr-white);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 3vw;
}

.card-number {
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-white);
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 65%;
  align-items: flex-end;
}

.card-text-container h3 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.card-link-text {
  font-size: 1.25rem;
  font-weight: 1000;
  letter-spacing: 0.05rem;
}

.arrow-up-icon {
  color: var(--clr-blue);
  padding-top: 1.5px;
  font-size: 2rem;
  font-weight: 1000;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-link:hover {
  scale: 1.2;
}
