.mission-section-container {
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 15vh;
  border-color: transparent;
  border-style: solid;
  border-width: 0 6vw;
  box-sizing: content-box;
  display: flex;
  gap: 8rem;
}

.mission-header-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.dash-icon {
  scale: 6;
  margin: 0 1.25rem 0 2rem;
  color: var(--clr-green);
}

.header-title {
  font-size: 4rem;
  font-weight: 1000;
  color: var(--clr-green);
}

.header-subtitle {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--clr-black);
}

.header-subtitle span {
  color: var(--clr-yellow);
}

.mission-text-container,
.mission-image-container {
  width: calc((100% - 8rem) / 2);
}

.mission-text-container p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 2vh 0;
}

.mission-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mission-animation {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  opacity: 0.85;
}
