.section-background-container {
  background: var(--clr-lightgray);
}

.mission-section-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 0;
  border-color: transparent;
  border-style: solid;
  border-width: 0 6vw;
  box-sizing: content-box;
  display: flex;
  gap: 8rem;
}

.mission-header-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.dash-icon {
  scale: 6;
  margin: 0 1.25rem 0 2rem;
  color: var(--clr-green);
}

.header-title {
  font-size: 4rem;
  font-weight: 1000;
  color: var(--clr-green);
  margin-bottom: 1.5rem;
}

.header-subtitle {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--clr-black);
  margin-bottom: 2rem;
}

.header-subtitle span {
  color: var(--clr-yellow);
}

.mission-text-container,
.mission-image-container {
  width: calc((100% - 8rem) / 2);
}

.mission-text-container p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

.mission-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-animation {
  width: 95%;
  height: 95%;
  border: none;
  outline: none;
}

.link {
  color: var(--clr-green);
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

/* ********** MEDIA QUERIES ********** */

@media screen and (max-width: 900px) {
  .mission-section-container {
    flex-direction: column;
    gap: 4rem;
  }

  .mission-text-container,
  .mission-image-container {
    width: 100%;
  }

  .mission-image-container {
    height: 40rem;
  }

  .mission-section-container .mission-image-container {
    order: 2;
  }
}
