.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vh 6vw;
  height: 40vh;
  background: var(--clr-blue);
  background: linear-gradient(
    to left top,
    #d3faefed 0%,
    #d3faf9ed 50%,
    #fbfbebed 100%
  );
}

.footer-images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  width: 35%;
}

.footer-logo {
  width: 85px;
  padding-left: 1rem;
  opacity: 0.85;
}

.footer-logo:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.hero-socials {
  display: flex;
  gap: 0.75rem;
}

.hero-socials a {
  border: solid 1.5px var(--clr-black);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-black);
}

.hero-socials a:hover {
  border: var(--clr-green) solid 1.5px;
  color: var(--clr-green);
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

.social-icon {
  scale: 1.25;
}

.footer-text {
  font-size: 1rem;
  line-height: 0;
  color: var(--clr-black);
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 25vh;
  width: 55%;
}

.footer-link {
  color: var(--clr-black);
  font-size: 1.2rem;
}

.footer-link:hover {
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}
