.about-section-wrapper {
  margin: 8vh 6vw;
}

.about-header-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  margin: 2vh 0;
}

.dash-icon-one,
.dash-icon-two {
  scale: 6;
  margin: 0 1.25rem 0 2rem;
}

.dash-icon-one {
  color: var(--clr-blue);
}

.dash-icon-two {
  color: var(--clr-green);
}

.header-title-one,
.header-title-two {
  font-size: 4rem;
  font-weight: 1000;
}

.header-title-one {
  color: var(--clr-blue);
}

.header-title-two {
  color: var(--clr-green);
}

.header-subtitle-one,
.header-subtitle-two {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-black);
  width: calc((100% / 2) - 4rem);
}

.header-subtitle-one span {
  color: var(--clr-brightorange);
}

.header-subtitle-two span {
  color: var(--clr-yellow);
}

.story-text-container {
  width: calc((100% / 2) - 4rem);
}

.story-text-container p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  margin: 2vh 0;
}
